#loading{
    display: none;
}
#error{
    display:none
}
#pais{
    animation-duration: 2s !important;
    transition: linear !important;
}
.sppiner{
    animation-duration: 2s !important;
    transition: linear !important; 
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="phone"] {
      width: 75% !important;
    }
  }